/* Colors for fonts */
/* Main field color scheme */
/* Sizing and shaping  */
/* line 21, ../sass/screen.sass */
.cw-container {
  width: 165px;
  padding: 1px;
  background-color: #454545;
  border-style: solid;
  border-width: 1px;
  border-color: #2c2c2c;
  border-radius: 4px;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
  font-size: 13px;
  font-weight: bold;
}

/* line 36, ../sass/screen.sass */
.cw-field {
  padding-bottom: 2px;
  background-color: #0e0e0e;
  border-style: solid;
  border-width: 1px;
  border-top-color: #515151;
  border-bottom-color: black;
  border-right-color: #0e0e0e;
  border-left-color: #0e0e0e;
  border-radius: 4px;
}

/* line 48, ../sass/screen.sass */
.cw-month-head {
  position: relative;
  padding: 2px;
  text-align: center;
  color: #cbfb00;
}
/* line 53, ../sass/screen.sass */
.cw-month-head span {
  margin: 0px 2px;
}

/* line 60, ../sass/screen.sass */
.cw-arrow-back {
  position: absolute;
  color: white;
  left: 8px;
}

/* line 64, ../sass/screen.sass */
.cw-arrow-forward {
  position: absolute;
  color: white;
  right: 8px;
}

/* line 68, ../sass/screen.sass */
.cw-day {
  display: inline-block;
  padding: 1px 2px;
  width: 16px;
  border-right-style: solid;
  border-left-style: solid;
  border-left-width: 2px;
  border-right-width: 1px;
  border-left-color: #2c2c2c;
  border-right-color: black;
  text-align: right;
}

/* Sequels for .cw-day */
/* line 82, ../sass/screen.sass */
.of-week {
  padding-top: 0px;
  color: #999999;
  text-align: center;
}

/* line 87, ../sass/screen.sass */
.first {
  border-left-color: #0e0e0e;
}

/* line 90, ../sass/screen.sass */
.last {
  border-right: #0e0e0e;
}

/* line 93, ../sass/screen.sass */
.today {
  color: #cbfb00;
}

/* line 96, ../sass/screen.sass */
.not-month {
  color: #323232;
}
