/* Colors for fonts */
/* Main field color scheme */
/* Sizing and shaping  */
/* line 39, ../sass/screen.sass */
.cw-container {
  display: block;
  width: 165px;
  padding: 1px;
  background-color: #2c2c2c;
  border-style: solid;
  border-width: 1px;
  border-color: #2c2c2c;
  border-radius: 4px;
  font-family: "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: white;
}
/* line 51, ../sass/screen.sass */
.cw-container span {
  cursor: default;
}

/* line 54, ../sass/screen.sass */
.cw-field {
  padding-bottom: 2px;
  background-color: #0e0e0e;
  border-style: solid;
  border-width: 1px;
  border-top-color: #515151;
  border-bottom-color: black;
  border-right-color: #0e0e0e;
  border-left-color: #0e0e0e;
  border-radius: 4px;
}

/* line 66, ../sass/screen.sass */
.cw-month-head {
  position: relative;
  padding: 1px;
  text-align: center;
  color: #cbfb00;
}
/* line 71, ../sass/screen.sass */
.cw-month-head span {
  padding: 0px 2px;
}
/* line 28, ../sass/screen.sass */
.cw-month-head span:hover {
  border-radius: 4px;
  background-color: #2c2c2c;
}

/* line 75, ../sass/screen.sass */
.cw-arrow-back {
  position: absolute;
  color: white;
  left: 6px;
}
/* line 35, ../sass/screen.sass */
.cw-arrow-back:hover {
  color: #cbfb00;
}

/* line 79, ../sass/screen.sass */
.cw-arrow-forward {
  position: absolute;
  color: white;
  right: 6px;
}
/* line 35, ../sass/screen.sass */
.cw-arrow-forward:hover {
  color: #cbfb00;
}

/* line 83, ../sass/screen.sass */
.cw-day {
  display: inline-block;
  padding: 1px 2px;
  width: 16px;
  border-right-style: solid;
  border-left-style: solid;
  border-left-width: 2px;
  border-right-width: 1px;
  border-left-color: #2c2c2c;
  border-right-color: black;
  text-align: right;
}

/* Sequels for .cw-day */
/* line 28, ../sass/screen.sass */
.regular:hover {
  border-radius: 4px;
  background-color: #2c2c2c;
}

/* line 100, ../sass/screen.sass */
.first {
  border-left-color: #0e0e0e;
}

/* line 103, ../sass/screen.sass */
.last {
  border-right: #0e0e0e;
}

/* line 106, ../sass/screen.sass */
.today {
  color: #cbfb00;
}

/* line 109, ../sass/screen.sass */
.of-week {
  padding-top: 0px;
  color: #999999;
  text-align: center;
}

/* line 114, ../sass/screen.sass */
.not-month {
  color: #323232;
}
